<footer>
  <div class="page">
    <nav aria-label="site navigation">
      <a href="https://github.com/CNatali-Gergich" target="_blank" rel="noopener">GitHub.com</a>
      <span class="sep">~</span>
      <a href="http://webpages.charlotte.edu/cnatalig/" target="_blank" rel="noopener">CLT Web</a>
      <span class="sep">~</span>
      <a href="https://cnatali-gergich.github.io/" target="_blank" rel="noopener">GitHub.io</a>
      <span class="sep">~</span>
      <a href="https://www.linkedin.com/in/christian-natali-gergich/" target="_blank" rel="noopener">LinkedIn</a>
      <span class="sep">~</span>
      <a href="https://www.freecodecamp.org/christiann-g">FreeCodeCamp</a>
      <span class="sep">~</span>
      <a href="https://www.codecademy.com/profiles/ChristianN-G">Codecademy</a>
    </nav>

    <p>Page Created by <a href="gergichdesigns.com/">Gergich Designs</a> © 2025</p>

    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
      <img src="images/button-valid-html5.gif" width="88" height="31" alt="Validate webpage HTML.">
    </a>

    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
      <img src="images/button-valid-css.gif" width="88" height="31" alt="Validate webpage CSS.">
    </a>
  </div>
</footer>

<script>
  document.getElementById("validation_link_html").setAttribute("href",
    "https://validator.w3.org/check?uri=" + location.href);
  document.getElementById("validation_link_css").setAttribute("href",
    "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
</script>