<header>
  <h1>Christian Natali-Gergich's Courageous Needlefish || ITIS 3135</h1>
  <nav>
    <a href="./">Home</a> ||
    <a href="introduction.html">Introduction</a> ||
    <a href="intro_form.html">BYO Intro</a> ||
    <a href="contract.html">Contact</a> ||
    <a href="courageousneedlefish/">Courageous Needlefish</a> ||
    <a href="stuff/Crappy Page&!.HTML">Crappy Page</a> ||
    <a href="hobby/">Hobby</a> ||
    <a href="project_overview.html">Project Overview</a> ||
    <a href="/valornclient/">Client Site</a>
  </nav>
</header>